
<div class="userprofile_vw">
	
	<div class='head'>مشخصات کاربر</div>
	
	<div class="detail">
		<div class="name"><span>&nbsp;</span>{name}</div>
		<div class="im_a"><span class="clSameAsBG">{lmtc("users:im_a")}</span>{im_a}</div>
		<div class="work_at"><span class="clSameAsBG">{lmtc("users:work_at")}</span>{work_at}</div>
		<div class="tell"><span class="clSameAsBG">{lmtc("users:tell")}</span>{tell}</div>
		<div class="cell"><span class="clSameAsBG">{lmtc("users:cell")}</span>{cell}</div>
		<div class="email"><span class="clSameAsBG">{lmtc("users:username")}</span><img src="{photools_email_gif($_REQUEST["id"])}"/></div>
		<div><span></span></div>
	</div>
	
	<div class="avatar">
		<img src="{profile_pic}" rel="{profile_pic_width}/{profile_pic_height}" />
	</div>
	{profile_pic_hide_style}
	
	{upvote_userprofile_lastUpvotes}
	
	{fbcm_userprofile_lastUpvotes}

</div>

