
/*-spi-*/

.users_management_wrapper {
	
}
.users_management_wrapper tr td {
	width: auto;
}
.users_management_wrapper tr td:first-child {
	width: 50px;
	text-align: center;
}
.users_management_wrapper tr td:last-child {
	width: 34px;
	text-align: center;
}
