
/*index*/

/* -spi- */

.users_register_form.popup {
	padding: 0px;
	margin: 0px !important;
	vertical-align: top;
	padding-right: 32px;

}
.users_register_form.popup .container {
	margin: 0px;
	width: 260px;
}
.users_register_form.popup .d02 {
	margin: 20px 0 25px 0;
}
.users_register_form.popup .d04 {
	width: 236px !important;
    text-align: justify;
    font-size: 11px;
    line-height: 20px !important;
    margin: 20px 0 10px 0;
}
.users_register_form.popup .d05 {
	font-size: 13px;
}
.users_register_form.popup input[name="name"] ,
.users_register_form.popup input[name="cell"] ,
.users_register_form.popup input[name="username"] ,
.users_register_form.popup input[name="password"] {
	width: 240px !important;
	border-radius: 10px !important;
	margin: 15px 0;
	display: block;
}

.users_register_form.popup input[name="cell"] {
	display: none;
}


.users_register_form.popup .users_weblogin_form {
	display: inline-block;
	width: 285px;
	vertical-align: top;
	border: 0px;
	border-right: 1px dashed #ccc;
	padding-top: 285px;
	background-color: #FFFBF1;
	margin: 0px auto;
	position: absolute; right: 315px; top: 0px;
}
.users_register_form.popup .users_weblogin_form > a {
	margin-bottom: 5px;
	display: block;
}
.users_register_form.popup .users_weblogin_form > a.login > img {
	width: 180px;
}
.users_register_form.popup .the_key {
	display: block;
    position: absolute;
    right: 358px;
    top: 65px;
    width: 160px;
    z-index: 1;
}
