
.stash_button ,
input[type=submit].stash_input {
	display: inline-block !important;
	background-color: #BD3559;
	padding: 9px 28px !important;
	font: normal 15px IRANSans !important;
	color: white !important;
	border-radius: 25px !important;
	border: 0px !important;
	margin: 3px auto !important;
	text-decoration: none !important;
	box-shadow: 0 0 0 #000 !important;
	outline: none !important;
	width: auto !important;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s;
}
.stash_button:hover ,
input[type=submit].stash_input:hover {
	opacity: 0.8;
}

