<style>
div {
	font:normal 14px tahoma;
	direction:rtl;
	margin:auto;
	margin-top:100px;
	line-height:24px !important;
	width:50%;
	color:#444444;
	text-align:justify;
}
a {
	color:blue;
	text-decoration:none;
}
img {
	border:0px;
}
</style>
<div dir=rtl >

شما از نسخۀ قدیمی مرورگر استفاده می کنید و به دلیل حمایت نکردن این ورژن از استاندارد ها و توابع جديد وب، قادر نیستید سايت را مشاهده كنيد.
پيشنهاد ما استفاده از آخرین نگارش نرم افزار مرور گر <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/" >فاير فاكس</a> يا <a target="_blank" href="https://www.google.com/chrome/browser/" >گوگل كروم</a>  است.<br>
با اين مرورگرها شما قادر خواهيد بود سايت ها را به صورت استاندارد و با سرعت و امنيت بيشتري مرور كنيد.


<br>
<br>
<br>

<center>

	<a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/"><img height="84px" src="https://mozorg.cdn.mozilla.net/media/img/firefox/new/header-firefox.png"></a>
	<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html"><img height="84px" src="http://www.elatewiki.org/images/Chrome_logo.png" /></a>

</center>

</div>






