
<div class="dark">
	{litesponsor_vw}
</div>

<div class="middle">
	<div class="container">
		
		<div class="social">
			
			<img class="logo" src="{_URL}/{logo_footer}" />
			
			<div class="text">اشتراک گذاری در شبکه های اجتماعی</div>
			<div class="social_links">
				<a href="http://www.facebook.com/sharer/sharer.php?u={seo_page_link}"><icon class="facebook"></icon></a>
				<a href="http://twitter.com/share?url={seo_page_link}"><icon class="twitter"></icon></a>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url={seo_page_link}&title={seo_page_name}&summary=&source="><icon class="linkedin"></icon></a>
				<a href="http://plus.google.com/share?url={seo_page_link}"><icon class="google"></icon></a>
			</div>

		</div>
		
		<div class="plus">
			<div class="text1">{plus_footer_title}</div>
			<div class="text2">{nl2br(tab__temp("plus_footer_text"))}</div>
			<icon id="offer_new_item" class="button"></icon>
		</div>
		
		<div class="link">{linkify_simple("footer")}</div>

	</div>
</div>

<div class="light">
	<div class="cr">
		&copy; {date("Y")} <a href="{_URL}" target="_blank">startupsetup.ir</a> , powered by <a href="http://parsunix.com/" target="_blank">parsunix</a>
	</div>
	<div class="links"></div>
</div>

