<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<META http-equiv=Content-Type content="text/html; charset=utf-8">
	
	<title>{meta_title}</title>
	<META name="keywords" content="{meta_kw}" />
	<META name="description" content="{meta_desc}" />

	<link rel="shortcut icon" href="{_URL}/{favicon}" >
	<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

	<script type="text/javascript" src="{_URL}/modules/jquery/jquery-1.7.1.min.js"></script>
	
	<!-- jquery UI -->
	<script src="{_URL}/modules/jqueryUI/jquery-ui-1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="{_URL}/modules/jqueryUI/jquery-ui-1.11.4/jquery-ui.min.css">
	<script src="{_URL}/modules/jqueryUI/jquery.ui.slider-rtl/jquery.ui.slider-rtl.min.js"></script>
	<link rel="stylesheet" href="{_URL}/modules/jqueryUI/jquery.ui.slider-rtl/jquery.ui.slider-rtl.css">
	<!---->
	
	<script>
	$(function() {
		$( document ).tooltip();
	});
	</script>
	
	<!-- datepicker -->
	<script type="text/javascript" src="{_URL}/modules/jqueryUI/datepicker.fa/jquery.ui.datepicker-cc.all.min.js"></script>
	<!---->
	
	<!-- font-awesome -->
	<link rel="stylesheet" href="{_URL}/modules/font-awesome-4.6.1/css/font-awesome.min.css">
	<!---->
	
	<script type="text/javascript">
		var the_list_of_dynamic_colors = {the_list_of_dynamic_colors};
	</script>

	<link href="{_URL}/templates/{_THEME}/font/font.css" rel="stylesheet" type="text/css">
	<link href="{_URL}/templates/{_THEME}/css/template.css" rel="stylesheet" type="text/css" />
	<link href="{_URL}/styles.css" rel="stylesheet" type="text/css" />
	<script src="{_URL}/scripts.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	
	<link rel="stylesheet" type="text/css" href="{_URL}/?do_action=dynamic_colors_first">

	{html_extra_tags}

</head>
<body bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0">


